<div class="informacion-cliente">
  <p>
    <strong th:text="#{eco-parametros.ipClienteHttp}"></strong> <code th:text="${direccionIP}">-</code> |
    <strong th:text="#{eco-parametros.navegadorUsadoEnClienteHTTP}"></strong> <code th:text="${navegador}">-</code>
    <br>
    <strong th:text="#{eco-parametros.sistemaOperativoNavegador}"></strong> <code th:text="${sistemaOperativo}">-</code> |
    <strong th:text="#{eco-parametros.motorRenderizadoNavegador}"></strong> <code th:text="${motorRenderizado}">-</code>
    <br>
    <strong th:text="#{eco-parametros.nombreHostHTTP}"></strong> <code th:text="${nombreHost}">-</code> |
    <strong th:text="#{eco-parametros.idiomaYLocaleHTTP}"></strong> <code th:text="${idiomaYLocale}">-</code>
  </p>
</div>