<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recibe_Parámetros</title>
</head>
<body>
    <h2>Formulario</h2>
    <form method="get" action="recibe-parametros">
        <fieldset>
            <legend th:text="#{eco-parametros.datosId}"></legend>
            <!--<label for="usuario">Usuario</label>-->
            <label for="usuario" th:text="#{eco-parametros.usuario}"></label>
            <input type="text" id="usuario" name="usuario" th:value="${usuario}" readonly>
            <label for="clave" th:text="#{eco-parametros.clave}"></label>
            <input type="password" id="clave" name="clave" th:value="${clave}">
        </fieldset>
        <input type="hidden" id="pi" name="pi" th:value="${pi}">
        <fieldset>
            <label th:text="#{eco-parametros.genero}"></label>
            <br>
            <input type="radio" name="genero_seleccionado"
                   th:each="genero: ${generos}"
                   th:value="${genero.key}"
                   th:text="${genero.value}"
                   th:checked="${genero.key.equals(genero_seleccionado)}">
        </fieldset>
        <br>
        <fieldset>
            <label th:text="#{eco-parametros.aficiones}"></label>
            <br>
            <input type="checkbox" th:each="aficion: ${aficiones}"
                   th:value="${aficion.key}"
                   th:text="${aficion.value}">
            <br>
        </fieldset>
        <fieldset>
            <label for="pais" th:text="#{eco-parametros.pais}"></label>
            <br>
            <select name="pais_seleccionado" id="pais">
                <option th:each="pais: ${paises}"
                        th:value="${pais.key}"
                        th:text="${pais.value}"
                        th:selected="${pais.key==pais_seleccionado} ? 'selected'"/>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <label for="musica" th:text="#{eco-parametros.musica}"></label>
            <br>
            <select name="musica_seleccionada" id="musica" multiple size="4">
                <option th:each="music: ${musica}"
                        th:value="${music.key}"
                        th:text="${music.value}"></option>
                        <!--th:selected="${music.isNotEmpty&&music.key.contains(music)}">-->
            </select>
        </fieldset>
        <br>
        <fieldset>
            <label for="comentarios" th:text="#{eco-parametros.comentarios}"></label>
            <br>
            <textarea id="comentarios" name="comentarios" rows="4" cols="20">
                <th:block th:text="${comentarios}"/>
            </textarea>
        </fieldset>
        <br>
        <fieldset>
            <label for="archivo" th:text="#{eco-parametros.archivo}"></label>
            <input type="file" id="archivo" name="archivo">
        </fieldset>
        <br>
        <input type="submit" th:value="#{eco-parametros.enviar}">
        <input type="reset" th:value="#{eco-parametros.resetear}">
    </form>
</body>
</html>