<!DOCTYPE html>
<html lang="es">
 <head>
  <title>Formulario</title>
  <meta charset="utf-8">
 </head>
 <body>
	<h2>Formulario</h2>
	<form method="get" action="recibe-parametros">
	<fieldset>
	<legend>Datos 	de identificación</legend>
		<label for="usuario" th:text="#{eco-parametros.usuario}"></label>
		<input type="text" id="usuario" name="usuario" th:value="${usuario}">
		<label for="clave">Clave</label>
		<input type="password" id="clave" name="clave">
	</fieldset>
	<input type="hidden" id="pi" name="pi" value="3.14">
	<fieldset>
	<label>Género</label>
	<br>
	<input type="radio" name="genero_seleccionado" value="F">Femenino
	<input type="radio" name="genero_seleccionado" value="M">Masculino
	<input type="radio" name="genero_seleccionado" value="O">Otro
	</fieldset>
	<br>
	<fieldset>
	<label>Aficiones</label>
	<br>
	<input type="checkbox" name="aficiones_seleccionadas" value="V">Viajes
	<input type="checkbox" name="aficiones_seleccionadas" value="D">Deportes
	<input type="checkbox" name="aficiones_seleccionadas" value="L">Libros
	<input type="checkbox" name="aficiones_seleccionadas" value="S">Series
	<br>
	</fieldset>
	<fieldset>
	<label for="pais">País</label>
	<select name="pais_seleccionado" id="pais">
		<option value="A">Andorra</option>
		<option value="F">Francia</option>
		<option value="E">España</option>
		<option value="P">Portugal</option>
	</select>
	</fieldset>
	<br>
	<fieldset>
	<label for="musica">Música</label>
	<select name="musica" id="musica" multiple size="4">
		<option value="Pop">Pop</option>
		<option value="Funky">Funky</option>
		<option value="Rock">Rock</option>
		<option value="Clásica">Clásica</option>
	</select>
	</fieldset>
	<br>
	<fieldset>
	<label for="comentarios">Comentarios</label>
	<textarea id="comentarios" name="comentarios" rows="4" cols="20"></textarea>
	</fieldset>
	<br>
	<fieldset>
	<label for="archivo">Archivo</label>
	<input type="file" id="archivo" name="archivo">
	</fieldset>
	<br>
	<input type="submit" value="Enviar">
	<input type="reset" value="Resetear">
	</form>
 </body>
</html>

