<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--línea en el head para que el favicon no este presente-->
    <link rel="icon" href="data:,">
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <title th:text="${titulo}"></title>
</head>
<body>
<h2 th:text="${titulo}"></h2>
<h3 class="correcto" th:text="${mensajeOK}"></h3>
<h3 class="error" th:text="${mensajeNOK}"></h3>
<form method="post" action="rec-param-validado"
    th:object="${datosFormulario}">
    <fieldset>
        <legend th:text="#{eco-parametros.datosId}"></legend>

       <label for="usuario" th:text="#{eco-parametros.usuario}"></label>
        <input type="text" th:field="*{usuario}">
        <div th:each="error : ${#fields.errors('usuario')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="clave" th:text="#{eco-parametros.clave}"></label>
        <input type="password" th:field="*{clave}">
        <div th:each="error : ${#fields.errors('clave')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="peso" th:text="#{eco-parametros.peso}"></label>
        <input type="text" th:field="*{peso}">
        <div th:each="error : ${#fields.errors('peso')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="edad" th:text="#{eco-parametros.edad}"></label>
        <input type="text" th:field="*{edad}">
        <div th:each="error : ${#fields.errors('edad')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="fechaNacimiento" th:text="#{eco-parametros.fechaNace}"></label>
        <input type="text" th:field="*{fechaNacimiento}">
        <div th:each="error : ${#fields.errors('fechaNacimiento')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="direccionIp" th:text="#{eco-parametros.direccion_ip}"></label>
        <input type="text" th:field="*{direccionIp}">
        <div th:each="error : ${#fields.errors('direccionIp')}"
             th:text="${error}" class="error"></div>
        <br>

        <label for="email" th:text="#{eco-parametros.email}"></label>
        <input type="text" th:field="*{email}">
        <div th:each="error : ${#fields.errors('email')}"
             th:text="${error}" class="error"></div>
        <br>
    </fieldset>

    <fieldset>
        <legend><label for="generoSeleccionado" id="generoSeleccionado" th:text="#{eco-parametros.genero}"></label></legend>
        <input type="radio" name="generoSeleccionado"
               th:each="genero: ${generos}"
               th:value="${genero.key}"
               th:text="${genero.value}"
               th:checked="${genero.key.equals(genero_seleccionado)}">
        <br>
        <input type="button" id="deseleccionarGeneros" value="Anular Selección"
               onclick="deseleccionaRadio();">
    </fieldset>
    <br>

    <fieldset>
        <legend><label for="comentarios" th:text="#{eco-parametros.comentarios}"></label></legend>
        <textarea id="comentarios" name="comentarios" rows="4" cols="20">
                <th:block th:text="${comentarios}"/>
            </textarea>
    </fieldset>
    <br>

    <fieldset>
        <input type="submit" th:value="#{eco-parametros.enviar}">
        <input type="reset" th:value="#{eco-parametros.resetear}">
    </fieldset>
</form>
<script>
    $(document).ready(function(){
            $('#deseleccionarGeneros').on('click',function () {
                // clear all radio buttons
                $("input[type=radio][name=generoSeleccionado]").prop('checked', false);
            })
        });
</script>
</body>

</html>